In [60]:
from datetime import date, timedelta
import datetime
import random
import numpy as np
import pandas as pd
import locale
import calendar
import json

locale.setlocale(locale.LC_ALL, 'de_DE.utf8')

'de_DE.utf8'

In [61]:
# generate date list
dateFrom = date(2020,1,1)
dateTo = date(2023,7,18)

dateList = [dateFrom]
while dateList[-1] != dateTo: # loop to get each date till end date
    dateList.append(dateList[-1] + timedelta(days=1))
dateList = list(np.repeat(dateList, 2))
N = len(dateList)

# get N random dates
dateList = sorted(random.sample(dateList, int(N*0.6)))

df = pd.DataFrame(dateList, columns=['shiftDate'])
#df['shiftDate'] = pd.to_datetime(df['shiftDate']) # convert object to datetime
df

       shiftDate
0     2020-01-01
1     2020-01-01
2     2020-01-03
3     2020-01-05
4     2020-01-06
...          ...
1549  2023-07-15
1550  2023-07-16
1551  2023-07-17
1552  2023-07-18
1553  2023-07-18

[1554 rows x 1 columns]

In [62]:
df.dtypes

shiftDate    object
dtype: object

# add Day information

In [63]:
df["Year"] = df['shiftDate'].apply(lambda x: x.year)
df["Month"] = df['shiftDate'].apply(lambda x: calendar.month_name[int(x.strftime('%m'))])
df["Day"] = df['shiftDate'].apply(lambda x: x.strftime('%d'))
df["Weekday"] = df['shiftDate'].apply(lambda x: x.strftime('%a'))
df

       shiftDate  Year   Month Day Weekday
0     2020-01-01  2020  Januar  01      Mi
1     2020-01-01  2020  Januar  01      Mi
2     2020-01-03  2020  Januar  03      Fr
3     2020-01-05  2020  Januar  05      So
4     2020-01-06  2020  Januar  06      Mo
...          ...   ...     ...  ..     ...
1549  2023-07-15  2023    Juli  15      Sa
1550  2023-07-16  2023    Juli  16      So
1551  2023-07-17  2023    Juli  17      Mo
1552  2023-07-18  2023    Juli  18      Di
1553  2023-07-18  2023    Juli  18      Di

[1554 rows x 5 columns]

In [73]:
df_iter = df.groupby(by=['Year', 'Month', 'Day'])

In [83]:
for (year,month, day), row in df_iter:
    x = {
        'year': int(year),
    }
    # Serializing json
    json_object = json.dumps(x, indent=4)
    
    # Writing to sample.json
    with open("sample.json", "w") as outfile:
        outfile.write(json_object)

In [36]:
years = df['Year'].drop_duplicates().to_list()
print(years)
months = df['Month'].drop_duplicates().to_list()
print(months)
days = df['Day'].drop_duplicates().to_list()
print(days)

['2020', '2021', '2022', '2023']
['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember']
['01', '02', '03', '04', '05', '06', '09', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '28', '29', '30', '07', '10', '26', '08', '27', '31']

In [37]:
df.set_index(pd.MultiIndex.from_product([years, months, days],
                           names=['year', 'month']))
df

ValueError: Length of names must match number of levels in MultiIndex.